.bard-class{
    background: rgba(252, 46, 252, 0.904);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bard-class h1{
    text-align: center;
}

.bard-class form{
    background: #9000ff;
}
