.bard-class{
    background: rgb(252, 46, 252);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bard-class h1{
    text-align: center;
}

.bard-class form{
    background: #8F00FF;
}
