.cleric-class{
    background: #ffe042d0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cleric-class h1{
    text-align: center;
}

.cleric-class form{
    background: #ffe042;
}
