.druid-class{
    background: #0ff80fa2
    ;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.druid-class h1{
    text-align: center;
}

.druid-class form{
    background: rgba(0, 131, 0, 0.671);
}