.paladin-class{
    background: #ffe042d0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paladin-class h1{
    text-align: center;
}

.paladin-class form{
    background: #ffec42;
}