.ranger-class{
    background: #2af80f79;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ranger-class h1{
    text-align: center;
}

.ranger-class form{
    background: rgba(0, 131, 0, 0.507);
}