.ranger-class{
    background: #009b00d7;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ranger-class h1{
    text-align: center;
}

.ranger-class form{
    background: rgb(21, 92, 7);
}