.sorcerer-class{
    background: #ff91009d;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sorcerer-class h1{
    text-align: center;
}

.sorcerer-class form{
    background: #ff91009c;
}