.sorcerer-class{
    background: #ff9100af;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sorcerer-class h1{
    text-align: center;
}

.sorcerer-class form{
    background: #ff9100;
}