*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Ropa Sans', sans-serif;
}

/*========== Class menu styles ==============*/

.class {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #181818;
    color: #e0e0e0;
    height: 100vh;
}

.class h1 {
    font-size: 32px;
}

.class p {
    font-size: 24px;
}

.class-btn {
    background: #2d2d2d;
    color: #e0e0e0;
    width: 345px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid grey;
    font-size: 32px;
    text-align: center;
    text-decoration: none;
    padding-top: 8px;
}

/*========== Slots styles ==============*/

form {
    width: 345px;
    height: 310px;
    margin: 50px 0 0 0;
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.slots {
    width: 14px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.slots-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rest-btn {
    margin-top: 50px;
    width: 345px;
    height: 64px;
    color: #181818;
    font-size: 32px;
}

.back-btn {
    margin-right: 350px;
    width: fit-content;
    height: fit-content;
    color: #181818;
}
